{% extends './layout.html' %}

{% block content %}

<div class="suggest-margin">
    <div class="suggest-wrapper">
        <div class="login">
            LOGIN
        </div>
        <div class="suggest-box">
            <form action="/auth/login" method="POST" class="suggest-form">
                <div class="mb-3">
                    <label for="Email" class="field">EMAIL ADDRESS</label>
                    <input type="text" class="form-control" name="inputEmail" id="inputEmail" placeholder="Input Email Address">
                </div><br>
                <div class="mb-3">
                    <label for="Password" class="form-label">PASSWORD</label>
                    <input type="password" class="form-control" name="inputPassword" id="inputPassword" placeholder="Input Password">
                </div><br>
                <div class="row">
                    <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register Here.</a></p>
                    <input type="submit" value="Submit">
                </div>
                
            </form>
        </div>
    </div>
</div>

{% endblock content %}