{% extends './layout.html' %}
{% block content %}



<div class="container">
    <div class="registration-margin">
        <div class="registration-wrapper">
            <div class="register">
                REGISTER
            </div>
            <div class="register-box">
                <form action="http://127.0.0.1:5000/auth/register" method="POST" class="register-form">
                    {{ form.csrf_token}}
                    <div class="mb-3">
                        <fieldset id="email-field" class="field" name="inputEmail">
                            {{ form.email.label }}
                            {{ form.email(class = "form-control", placeholder = "Enter an email address here.") }}
                        </fieldset>
                       
                    </div><br>
                    <div class="mb-3">
                        <fieldset class="field" id="password-field" name="inputPassword">
                            {{ form.password.label }}
                            {{ form.password(class = "form-control", placeholder = "Enter a strong password here.") }}
                        </fieldset>
                   
                    </div><br>
                    <div class="mb-3">
                        <fieldset class="field" id="username-field" name="inputUsername">
                            {{ form.username.label }}
                            {{ form.username(class = "form-control", placeholder = "Enter a username here.") }}
                        </fieldset>
            
                    </div><br>
                    <div class="mb-3">
                        <fieldset class="field" id="first_name-field" name="inputFirstName">
                            {{ form.first_name.label }}
                            {{ form.first_name(class = "form-control", placeholder = "Enter your first name here.") }}
                        </fieldset>
        
                    </div><br>
                    <div class="mb-3">
                        <fieldset class="field" id="last_name-field" name="inputLastName">
                            {{ form.last_name.label }}
                            {{ form.last_name(class = "form-control", placeholder = "Enter your last name here.") }}
                        </fieldset>
           
                    </div><br>
                    <div class="mb-3">
                        <fieldset class="field" id="city-field" name="inputCity">
                            {{ form.city.label }}
                            {{ form.city(class = "form-control", placeholder = "Enter your city here.") }}
                        </fieldset>
     
                    </div><br>
                    <div class="mb-3">
                        <fieldset class="field" id="state-field" name="inputState">
                            {{ form.state.label }}
                            {{ form.state(class = "form-control", placeholder = "Enter your state here.") }}
                        </fieldset>

                    </div><br>
                    <div class="row">
                        <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login Here.</a></p>
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
